.container {
    position: absolute;
    left: 35vw;
    display: inline-block;
    padding: 2.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 10px 0px rgba(50, 50, 50, 0.75);;
    
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

